* {
    box-sizing: border-box;
    font-size: 18px;
}

html, body {margin: 0;}
h1, h2, h3, h4, h5, h6, figure, p {margin: 0; color: #000000;}


h2 {font-size: 25px;
    font-family: 'Gaegu';}
h3 {font-size: 17px;}
p {
    font-size: 13px;
    font-family: 'Noto Sans KR';
    font-weight: 300;
}
a {text-decoration: none;}

ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;}

img {vertical-align: middle;}
table {border-collapse: collapse;}

a, b, i, strong, mark, em, code {
    display: inline-block;}




.background{
    justify-content: center;
    width: 100%;
}

.background img{
    display: block;
    width: 100%;
    height: auto;}

.main {
    position: absolute;
    top: 1%;
    width: 100%;
}

.main img{
    margin: auto;
    justify-content: center;
    display: block;
    width: 75%;
    height: auto;
    margin-top: 5%;
}

.main_ img{
    width: 100%;
    margin-top: 5%;}

.main_ p{
    width: 100%;
    margin-top: 5%;
    text-align: center;
    color: #7C84CC;}

.main_btn {
    top: 5%;
    margin-top: 10%;
}
.main_btn a{
    margin: auto;
    justify-content: center;
    text-align: center;
    display: block;
    width: 70%;
    height: auto;
    border: #FF86B1;
    border-width: 1px;
    border-style: solid;
    border-radius: 50px;
}

.main_btn a p {
    font-size: 16px;
    font-weight: 500;
    color: #FF86B1;
    margin: 5%;
}









.Q {
    position: absolute;
    top: 5%;
    width: 100%;
}

.Q .main_Q{
    width: 100%;
    margin-top: 15%;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    color: #7C84CC;}

.Q .sub_Q{
    width: 100%;
    margin-top: 30%;
    text-align: center;
    font-size: 18px;
    color: #7C84CC;
}

.Q .main_Q_{
    width: 100%;
    margin-top: 20%;
    text-align: center;
    font-size: 18px;
    color: #7C84CC;}

.Q .main_Q__{
    width: 100%;
    margin-top: 10%;
    text-align: center;
    font-size: 25px;
    color: #7C84CC;}





.A {
    margin: 0;
    padding: 0;
    color: pink;
    text-align: center;
    border-color: pink;
    position: absolute;
    bottom: 15%;
    width: 100%;}

.A p{
    width: 100%;
    margin-bottom: 3%;
    text-align: center;
    color: #7C84CC;}

input { 
    padding: 10px 20px;
    border-width: 1px;
    border-color: #7C84CC;
    border-style: solid;
    color: #FF86B1;
    background-color: #FFFFFF;
    border-radius: 50px;}

.text01 {
    display: flex;
    justify-content: center;}

.btnSubmit {}













.worng_btn {
    width: 100%;
    position: absolute;
    margin: auto;
    justify-content: center;
    text-align: center;
    bottom: 15%;
    display: flex;
    padding: 5%;}

.worng_btn a{
    margin: auto;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    border: #FF86B1;
    background-color: #FFFFFF;
    border-width: 1px;
    border-style: solid;
    border-radius: 50px;
    margin: 1%;}

.worng_btn a p {
    font-size: 16px;
    font-weight: 500;
    color: #FF86B1;
    margin: 5% 3%;}









.hint_btn {
    width: 100%;
    justify-content: center;
    text-align: center;
    margin: auto;
    position: absolute;
    bottom: 15%;}

.hint_btn a{
    margin: auto;
    justify-content: center;
    text-align: center;
    display: block;
    width: 70%;
    height: auto;
    border: #FF86B1;
    background-color: #FFFFFF;
    border-width: 1px;
    border-style: solid;
    border-radius: 50px;}

.hint_btn a p {
    font-size: 16px;
    font-weight: 500;
    color: #FF86B1;
    margin: 5%;}




.move {
    margin: auto;
    justify-content: center;
    display: block;
    width: 75%;
    height: auto;
    margin-top: 3%;}

.adress{
    width: 100%;
    margin-top: 1%;
    text-align: center;
    color: #7C84CC;}

.move_txt{
    width: 100%;
    margin-top: 3%;
    text-align: center;
    font-weight: 500;
    color: #7C84CC;}











.map_btn {
    width: 100%;
    position: absolute;
    margin: auto;
    justify-content: center;
    text-align: center;
    display: flex;
    padding: 12% 5%;}

.map_btn a{
    margin: auto;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    border: #FF86B1;
    background-color: #FFFFFF;
    border-width: 1px;
    border-style: solid;
    border-radius: 50px;
    margin: 1%;}

.map_btn a p {
    font-size: 16px;
    font-weight: 500;
    color: #FF86B1;
    margin: 5% 3%;}
